@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
* {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: #E5CB90;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5CB90;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: saddlebrown;
}
p {
  font-size: 2rem;
}
nav {
  background-color: #42860E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: none;
  border-bottom: 3px solid saddlebrown;
}
nav .logo {
  width: 5%;
  padding: 1%;
}
nav .links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
}
nav .links a {
  font-size: 3rem;
  text-decoration: none;
  color: #E5CB90;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  transition: 1s;
}
nav .links a:hover {
  background-color: saddlebrown;
  padding: 1% 2%;
  border-radius: 10px;
  transition: 1s;
}
html,
body {
  background-color: #E5CB90;
}
.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
  background-image: url('/img/main-header-image.jpg');
  background-color: #cccccc;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header h1 {
  text-shadow: 3px 3px 3px black;
  color: darkred;
  font-weight: bolder;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-header h2 {
  text-shadow: 3px 3px black;
  color: darkred;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-header .main-header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 18vh;
  width: 20%;
  background: ghostwhite;
  padding: 1% 1%;
  border: 4px solid #42860E;
}
.main-header .main-header-content p {
  font-size: 2rem;
  width: 75%;
}
.main-header .main-header-content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  padding: 2% 3%;
  width: 30%;
  background-color: #42860E;
  border-radius: 4px;
}
.main-header .main-header-content .btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: ghostwhite;
}
.startHeader {
  border-bottom: 3px dashed saddlebrown;
  padding: 1%;
}
.startHeader h1 {
  font-size: 5rem;
  text-align: center;
  padding: 1%;
}
.startHeader .videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: none;
}
.startHeader .videoContainer video {
  width: 60%;
  border: 3px solid saddlebrown;
  border-radius: 20px;
}
.stepContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.stepContent hr {
  width: 90%;
  border: 1px dashed saddlebrown;
}
.stepContent .step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
  padding: 3%;
}
.stepContent .step .stepImg {
  width: 30%;
}
.stepContent .step .stepImg img {
  border: 3px solid saddlebrown;
  border-radius: 20px;
}
.stepContent .step .stepTitle {
  text-align: center;
  width: 30%;
}
.stepContent .step .stepTitle h2 {
  font-size: 5rem;
}
.stepContent .step .stepTitle button {
  width: 30%;
  padding: 1%;
  font-size: 2rem;
  background-color: #42860E;
  color: #E5CB90;
  border-radius: 10px;
  margin: 3%;
}
.stepContent .step .stepTitle button:hover {
  padding: 2%;
  font-size: 3rem;
  transition: 1s;
}
.stepContent .step .description {
  padding: 1%;
  width: 30%;
}
.stepContent .step .description h3 {
  font-size: 3rem;
}
.stepContent .step .description p {
  padding: 1% 0;
  color: saddlebrown;
}
.step:nth-of-type(even) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row-reverse;
  padding: 3%;
}
header h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
.family-tree {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 50%;
  height: auto;
  align: center;
  border: 3px solid saddlebrown;
}
.sectionOne {
  border-top: 3px dashed saddlebrown;
  padding: 30px 150px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOneText {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  width: 50%;
}
.sectionOneImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
  align: center;
}
.sectionTwo {
  border-top: 3px dashed saddlebrown;
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.sectionTwoText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sectionTwoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
  padding-right: 30px;
}
.sectionThree {
  border-top: 3px dashed saddlebrown;
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.sectionThreeText {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sectionFour {
  border-top: 3px dashed saddlebrown;
  padding: 30px 150px 0px 30px;
  display: flex;
  align-items: center;
}
.sectionFourText {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  width: 50%;
}
.sectionFourImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
}
footer {
  background-color: #42860E;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: none;
  padding: 1%;
  border-top: 3px solid saddlebrown;
}
footer p {
  color: #E5CB90;
}
footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: none;
}
footer .links a {
  text-decoration: none;
  font-size: 2rem;
  color: #E5CB90;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  transition: 1s;
}
footer .links a:hover {
  background-color: saddlebrown;
  padding: 1% 2%;
  border-radius: 10px;
  transition: 1s;
}
