@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
* {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: #E5CB90;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  color: saddlebrown;
}
p {
  font-size: 2rem;
}
nav {
  background-color: #42860E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: none;
}
nav .logo {
  width: 5%;
  padding: 1%;
}
nav .links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
}
nav .links a {
  font-size: 3rem;
  text-decoration: none;
  color: #E5CB90;
}
nav {
  border-bottom: 3px solid saddlebrown;
}
header h1 {
  text-align: center;
  font-size: 5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
.family-tree {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 50%;
  height: auto;
  align: center;
  border: 3px solid saddlebrown;
}
.sectionOne {
  border-top: 3px dashed saddlebrown;
  padding: 30px 150px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOneText {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  width: 50%;
}
.sectionOneImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
  align: center;
}
.sectionTwo {
  border-top: 3px dashed saddlebrown;
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.sectionTwoText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sectionTwoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
  padding-right: 30px;
}
.sectionThree {
  border-top: 3px dashed saddlebrown;
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.sectionThreeText {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sectionFour {
  border-top: 3px dashed saddlebrown;
  padding: 30px 150px 0px 30px;
  display: flex;
  align-items: center;
}
.sectionFourText {
  display: block;
  margin-left: 150px;
  margin-right: auto;
  width: 50%;
}
.sectionFourImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 30%;
  height: auto;
}
