.flex(@justify: center, @align: center, @flow: none) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-flow: @flow;
}

.buttons() {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @nav-bg;
    border-radius: 4px;
    color: ghostwhite;
        &:hover {
            background-color: lighten(hsl(90, 60%, 40%), 10%);
            box-shadow: 5px 5px black;
            transition: .15s;
            color: saddlebrown;
                a{
                    color:saddlebrown;
                }
        }

}

