nav {
    background-color: @nav-bg;
    .flex(space-between);
    border-bottom: 3px solid @textColor;

    .logo {
        width: 5%;
        padding: 1%;
    } //logo
    
    .links {
        width: 80%;
        .flex(space-around);

        a {
            font-size: 3rem;
            text-decoration: none;
            color: @main-bg;
            font-family: @otherFonts;
        }//a
    } //links
} //nav