nav {
    background-color: @nav-bg;
    .flex(space-between);
    border-bottom: 3px solid @textColor;

    .logo {
        width: 5%;
        padding: 1%;
        @media (max-width: 800px) {
            width: 10%;
        }
        @media (max-width: 500px) {
            width: 15%;
        }
    } //logo
    
    .links {
        width: 80%;
        .flex(space-around);
        @media (max-width: 500px) {
            width: 90%;
        }

        a {
            font-size: 3rem;
            text-decoration: none;
            color: @main-bg;
            font-family: @otherFonts;
            text-align: center;
            padding: 1%;
            border-radius: 10px;
            transition: 1s;
            @media (max-width: 800px) {
                font-size: 2rem;
            }
            @media (max-width: 500px) {
                font-size: 1.6rem;
            }
 
            &:hover {
                background-color: @textColor;
                padding: 1% 2%;
                border-radius: 10px;
                transition: 1s;
            }
        }//a
    } //links
} //nav