header h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

.family-tree {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 50%;
    height: auto;
    border: 3px solid @textColor;
}

.sectionOne {
    border-top: 3px dashed @textColor;
    padding: 30px 150px 0px 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sectionOneText {
    display: block;
    margin-left: 150px;
    margin-right: auto;
    width: 50%;
}

.sectionOneImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 30%;
    height: auto;
}

.sectionTwo {
    border-top: 3px dashed @textColor;
    padding-top: 30px;
    display:flex;
    align-items: center;
}

.sectionTwoText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sectionTwoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 30%;
    height: auto;
    padding-right: 30px;
}

.sectionThree {
    border-top: 3px dashed @textColor;
    padding-top: 30px;
    display:flex;
    align-items: center;
}

.sectionThreeText {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.sectionFour {
    border-top: 3px dashed @textColor;
    padding: 30px 150px 0px 30px;
    display:flex;
    align-items: center;
}

.sectionFourText {
    display: block;
    margin-left: 150px;
    margin-right: auto;
    width: 50%;
}

.sectionFourImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 30%;
    height: auto;
}