// * {
//   border: 1px solid black;
// }

////////////////////// HEADER ////////////////////

.startHeader {
  border-bottom: 3px dashed @textColor;
  padding: 1%;

  h1 {
    font-size: 5rem;
    text-align: center;
    padding: 1%;
  } //h1

  .videoContainer {
    .flex();

    video {
      width: 60%;
      border: 3px solid @textColor;
      border-radius: 20px;
    } //video
  } //class .video
} //header

//////////////// CONTENT //////////////////

.stepContent {
  width: 100%;
  .flex(@flow:column);

  hr {
    width: 90%;
    border: 1px dashed @textColor;
  } //hr

  .step {
    .flex(space-around);
    padding: 3%;

    .stepImg {
      width: 30%;
      img {
        border: 3px solid @textColor;
        border-radius: 20px;
      } //img
    } // .stepImg

    .stepTitle {
      text-align: center;
      width: 30%;

      h2 {
        font-size: 5rem;
      } //h2

      button {
        width: 30%;
        .stepButtons();
        margin: 3%;
      } //button
    }
    .description {
      padding: 1%;
      width: 30%;
      h3 {
        font-size: 3rem;
      } //h3

      p {
        padding: 1% 0;
        color: @textColor;
      }
    } //description
  } //step
} //step content

// this reveses every other step

.step:nth-of-type(even) {
  .flex(space-around, @flow: row-reverse);
  padding: 3%;git a
} //step nth of type
